@model ScriptCaptureTagHelper.Sample.Models.DisplayModel

<div>Display Template</div>
<script capture="Foo">
    console.log('Foo 1');
</script>
<script capture="Foo">
    console.log('Foo 2');
</script>